@import url("https://use.typekit.net/tfy8nai.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --border-radius: 100px;
    --black: #000000;
    --cyan: #A8FFDB;
    --pink: #FFCBFC;
    --purple: #6D61F9;
    --grey: #8E8E8E;
    --lightgrey: #E0E0E0;
    --white: #FFFFFF;
    --yellow: #F6DD7C;
    --dark-yellow: #FFCA00;
    --orange: #FF4E00;
    --green: #00EF51;
    --gutter: 3.125vw 6.25vw;
    --border-radius: 50px;
}

html,
body {
    min-height: 100vh;
    padding: 0;
    background: var(--black);
    color: var(--white);
    font-family: "neulis-sans", sans-serif;
    
}
/* Typography */
h1 {font-size: 70px;}
h2 {font-size: 60px}
h3 {font-size: 50px}
h4 {font-size: 40px}
h5 {font-size: 30px}
h6 {font-size: 25px}
a { color: #ffffff;
    text-decoration: none;}

section {
    position: relative;
    display: flex;
    width: 100%;
    /* height: calc(100vh - 100px); */
    top: 100px;
    z-index: 0;
}

section.sticky {
    position: sticky;
    /* margin-top: 100px; */
}

section.full-screen {
    height: 100vh;
    top: 0;
    margin-top: 0;
    z-index: 3;
}

/* navigation */

nav {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    font-size: 20px;
    z-index: 1;
}

nav ul {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    margin-left: 45px;
}

nav ul li a {
    color: var(--white);
}

/* Home Page */
.queue {
    height: 30vh;
}

section.queue .queue-sound {
    flex-basis: 37.5vw;
    background: radial-gradient(circle, var(--grey), var(--white));
    border-radius: var(--border-radius);
    transition: flex-basis 1s cubic-bezier(0,.9,.4,.99);
}

.queue-sound,
.queue-invitation,
.queue-awaits  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.queue-sound__content {
    text-align: center;
    line-height: 3rem;
    color: var(--black);
}
.queue-invitation__content {
    text-align: center;
    color: var(--black);
}
.topic {
    font-weight: 500;
}
.phrase {
    font-weight: 100;
    letter-spacing: 3.45px;
    font-size: 15px;
}

.main_title_02 {
    letter-spacing: -2.45px;
    margin: 0;
}
.phrase_02 {
    font-weight: 100;
    font-size: 30px;
    letter-spacing: -1.8px;
}
.queue-awaits p{
    font-weight: 300;
    font-size: 30px;
    letter-spacing: -2.4px;
}

section.queue article {
    flex: 1;
    display: flex;
    flex-direction: column;
}

section.queue article .queue-invitation{
    flex: 1;
    display: flex;
    background: var(--cyan);
    border-radius: var(--border-radius);
    /* padding: var(--gutter); */
    transition: flex-basis 1s cubic-bezier(0,.9,.4,.99);
}

section.queue article .queue-awaits {
    flex: 1;
    display: flex;
    align-items: center;
    background: var(--purple);
    border-radius: var(--border-radius);
    padding: var(--gutter);
    color: var(--black);
}

/* countdown */

.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.countdown ul {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    font-size: 20px;
}
.countdown ul li {
    text-align: center;
    margin: 0 10px;
    color: var(--dark-yellow);
}
.countdown li span {
    display: block;
}


/* service section */
section.service article {
    /* display: flex; */
    width: 100%;
}

section.service figure {
    margin: 0;
}
section.service figure img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 56.25vw;
    margin: 0;
    width: 100%;
    height: 60vh;
    border-radius: var(--border-radius);
}


section.service .audio-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    font-size: 27px;
    line-height: 33px;
    color: var(--black);
    background: var(--pink);
    padding: var(--gutter);
    border-radius: var(--border-radius);
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
}

.image-container figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--black);
}

.image-container figcaption p {
    /* margin: 0; */
}

figcaption .date {
    font-weight: 600;
    margin: 0;
}
figcaption .event {
    font-weight: 200;
    margin: 0;
    font-size: 35px;
}

section.service .limited-tickets {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    height: 60vh;
    font-size: 27px;
    line-height: 40px;
    color: var(--black);
    background: var(--lightgrey);
    padding: var(--gutter);
    border-radius: var(--border-radius);
}

.limited-tickets .arrow {
    display: flex; 
    align-self: flex-start; 
}

/* contact section */
section.contact {
    text-align: center;
    font-weight: 900;
    background: radial-gradient(50% 50% at 50% 50%, #F93 0%, #EBA374 32.99%, #C1B8F9 100%);
    border-radius: var(--border-radius);
    padding: var(--gutter); 
    justify-content: center;
    height: 88vh;
}
.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
section.contact a{
    font-size: 31px;
    color: var(--black);
    font-weight: bold;
    transition: filter 2s cubic-bezier(.77,.28,.42,.93);
    will-change: filter;
}
.contact-content h5{
    margin: 0;
    color: var(--black);
}
.contact-content p {
    font-size: 18px;
    color: var(--black);
}
section.contact a:hover {
    filter: blur(20px);
}
.social-media__icons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
}
.social-media__icons img{
    width: 25px;
}




/* TICKETS & MERCH */
.container {
    margin: auto;
}
.row {
    padding-bottom: 150px;
}
.tickets-merch {
    position: relative;
    display: flex;
    top: 100px;
}
.tickets-merch__heading h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 49px;
}

/* General Admission */
.general-admission__ticket01 {
    /* flex: 1; */
    display: flex;
    background: var(--pink);
    border-radius: var(--border-radius);
    padding: var(--gutter);
    height: 240px;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}
.general-admission__ticket01 img {
    width: 370px;
}
.general-admission_info,
.shuttle_info,
.VIP_info {
    padding: var(--gutter);
}
.general-admission__content p{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: var(--white);
}
.general-admission__dates,
.shuttle__dates,
.VIP__dates{
    display: flex;
    justify-content: space-between;
}
.list-items__content ul {
    list-style: disc;
}
.list-items__week1 span{
    font-size: 10px;
}
.list-items__week2 span{
    font-size: 10px;
} 
.list_02 {
    margin-left: 30px;
}
.quantity-container p{
    padding-left: 10px;
}
.quantity-container_images {
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin-top: 10px; */
}
.button-container {
    display: flex;
    margin-left: auto; 
}
.buy-passes_button {
    padding: 12px 20px;
    border-radius: 15px;
    border: 1px solid var(--white);
    font-weight: bold;
}




/* General Admission + Shuttle */
.shuttle__ticket02 {
    display: flex;
    background: var(--orange);
    border-radius: var(--border-radius);
    padding: var(--gutter);
    height: 240px;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}
.shuttle__ticket02 img {
    width: 370px;
}


/* VIP */
.VIP__ticket03 {
    display: flex;
    background: var(--green);
    border-radius: var(--border-radius);
    padding: var(--gutter);
    height: 240px;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}
.VIP__ticket03 img {
    width: 370px;
}















/* Tablet */
@media screen and (min-width: 768px) {
body {
    font-size: 23px;
}
section {
    /* display: block; */
}

.section-wrap {
    display: flex;
}
section.service .limited-tickets {
    height: 20vh;
}





/* HOME PAGE */
.queue {
    height: 20vh;
}
.section-01_wrap {
    display: flex;
}
section.service figure img {
    height: unset;
}
.section-02_wrap {
    display: flex;
}

/* TICKETS & MERCH */
.general-admission__ticket01 img {
    width: unset;
}
.shuttle__ticket02 img {
    width: unset;
}
.VIP__ticket03 img {
    width: unset;
}
.list-items__week1 span {
    font-size: 15px;
}
.list-items__week2 span {
    font-size: 15px;
}
.quantity-container p {
    padding-left: unset;
}
}




@media screen and (min-width: 1024px) {
body {
    font-size: 25px;
}
.container {
    padding: 20px;
    /* max-width: 1100px; */
}
.tickets-merch {
    display: unset;
}
.tickets-option {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 50px;
    margin: 80px 0;
    align-items: center;
}

/* General Admission */
.general-admission__ticket01 {
    grid-column: auto / span 6;
    padding: unset;
}
.general-admission_info {
    grid-column: 7 / span 7;
    padding: unset;
}
.general-admission__dates {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.quantity-container_grid {
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.quantity-container_images {
    grid-column: 2 / span 9;
}
.quantity-container p{
    font-size: 20px;
    margin-left: 40px;
}

/* General Admission + Shuttle */
.shuttle__ticket02 {
    grid-column: auto / span 6;
    padding: unset;
}
.shuttle_info{
    grid-column: 7 / span 7;
    padding: unset;
}
.shuttle__dates{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* VIP */
.VIP__ticket03 {
    grid-column: auto / span 6;
    padding: unset;
}
.VIP_info{
    grid-column: 7 / span 7;
    padding: unset;
}
.VIP__dates{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}

@media screen and (min-width: 1440px) {
    .container{
        min-width: 1440px;
        margin: auto;
    }
}